/* Custom scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
  }

body {
display: flex;
font-family: Roboto, sans-serif;
margin: 0;
}

.left-section {
display: flex;
background-color: #32127a;
width: 960px;
}

.content {
display: flex;
flex-direction: column;
color: white;
margin-left: 15px;
margin-top: 35px;
gap: 30px;
}

.header {
    font-style: verdana;
    font-weight: 600;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    font-style: verdana;
    margin-top: 9px;;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 14px;
    gap: 8px;
    margin-top: 9px;
}

.left-items {
    margin-left: 15px;
}

/* Range slider styles */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }

input[type="range"]::-webkit-slider-runnable-track {
    background: #FF4500;
    height: 4px;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 25px;
    margin-top: -4px;
}

input[type="range"]:focus {
    outline: none;
} 

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #E6E6FA;
    outline: 3px solid #E6E6FA;
    outline-offset: 0.125rem;
  }
  
  .language {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lang-level {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 9px;
}

.slide-container {
    margin-top: -6px;
}

.memberships {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-section {
    background-color: #E6E6FA;
    padding: 36px 28px;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 22px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.top-intro {
    display: flex;
    justify-content: space-between;
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.name {
    font-weight: 700;
    font-size: 42px;
    font-family: Corbel;
}

.career {
    font-weight: 700;
}

.line {
    border-bottom: 2px solid #ff4500;
}

.summary {
    display: flex;
    flex-direction: column;
}

.right-headers {
    font-weight: 700;
    font-size: 20px;
    color: #32127a;
}

.texts {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    gap: 8px;
    font-size: 16px;
    font-family: Verdana;
    color: #303030;
}

.experience,
.education {
    display: flex;
    flex-direction: column;
}

ol {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana;
    gap: 10px;
    margin-top: 22px;
    color: #303030;
}

.work,
.edu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-title,
.edu-title {
    display: flex;
    justify-content: space-between
}

.co,
.deg {
    font-weight: 600;
}

.date {
    color: #32127a;
}

.projects {
    display: flex;
    flex-direction: column;
}

.pic-container {
    display: flex;
    gap: 10px;
    margin-top: 22px;
}

.project-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-pic {
    width: 200px;
    height: 200px;
    border: 2px solid #ff4500;
    border-radius: 10px;
    overflow: hidden;
}

.project-pic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.pic-text {
    display: flex;
    color: #303030;
    justify-content: center;
    font-size: 16px;
}