/* Custom scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #A8A8A8;
}

body::before {
    display: block;
    content: "";
    height: 60px;
}

html,body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; 
}

.showcase-img {
    height: 33rem;
}

.showcase-text {
    color: #4CBB17;
}

@media (max-width: 325px) {
    .showcase-sec {
        padding-left: 1px;
        padding-right: 1px;
        }
    }

#projects {
    background-color: #404040;
}

#task-manager-icon {
    fill: #3776AB;
}

#html-icon {
    fill: orangered;
}

#css-icon {
    fill: #0066b2;
}

#db-icon {
    fill: #c0c0c0;
}

#ebook-store-icon {
    fill: #FF0800;
}


.card {
    height: 100%;
}

.card-title {
    color: #008000;
}

.footer-link {
    text-decoration: none;
}

svg.footer-svg {
    width: 28px;
    height: 28px;
}

@media (max-width: 390px) {
    .footer-text-icon {
        font-size: 12px;
    }
}

@media (max-width: 390px) {
    svg.footer-svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 284px) {
    .footer-text-icon {
        font-size: 10px;
    }
}

@media (max-width: 284px) {
    svg.footer-svg {
        width: 15px;
        height: 15px;
    }
}
